.modal .dialog-content {
    box-shadow: 16px 16px 0 0 #190c2f;
    overflow: scroll;
}

.modal .dialog-content h2 {
    font-size: 20px;
}

.modal .dialog-content ul {
    padding: 0 20px;
    list-style: disc !important;
}

.dialog-content a {
    text-decoration: underline;
}

.dialog-content a::before {
    content: "🔗 ";
}
