.coollist {
    max-width: 400px;
    width: 100%;
}

.coollist-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 40px;
}

.coollist-link-button a {
    display: block;
    border: solid 2px #191c2f;
    width: auto;
    max-width: 400px;
    padding: 11px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 6px 8px 0px 0px #191c2f;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.coollist-link-button a:hover {
    color: white;
    background: #191c2f;
    transform: translateY(-6px);
    box-shadow: none;
}

.coollist-link-button {
    width: 100%;
}

.medialist-buttons {
    display: flex;
    justify-content: space-evenly;
}

.medialist {
    max-width: 100%;
    width: 400px;
    margin: 40px auto;
    color: #1a1d30;
}

.medialist-link-button a svg {
    width: 26px;
    height: 26px;
}
