* {
    margin: unset;
    padding: unset;
    color: unset;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
}

ul,
ol {
    list-style-type: none;
}

.hidden {
    display: none !important;
}

a {
    cursor: pointer;
}